<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
<p>I am the sidenav</p>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div>
        <button (click)="sidenav.toggle()">Toggle Sidenav</button>
        <div>Logo</div>
        <div>
          <!--Lägg applikationens länkar
          <a ></a>
          -->
        </div>
      </div>
    </mat-toolbar>
    <main>
      <!--Lägg till alla selectors till komponenter här så att de får en sidnav-->
    </main>

  </mat-sidenav-content>
</mat-sidenav-container>

<section>
  <div class="hero-button-row">
    <div class="hero-button-flex-container">
      <div class="hero-button-container">
        <button mat-fab color="primary" aria-label="button1"
                mat-icon="button1"></button>

        <button mat-fab color="accent" aria-label="button1"
                mat-icon="button1"></button>

        <button mat-fab color="warn" aria-label="button1"
                mat-icon="button1"></button>
      </div>
    </div>
  </div>
</section>


<!--

Status på projekt:

Superheros: film 3.

Udemy, navbar: lektion 41

-->
