

<section>
  <div class="hero-button-row">
    <div class="hero-button-flex-container">
      <div class="hero-button-container">
        <button mat-fab color="primary" aria-label="button1"
                mat-icon="button1"></button>

        <button mat-fab color="accent" aria-label="button1"
                mat-icon="button1"></button>

        <button mat-fab color="warn" aria-label="button1"
                mat-icon="button1"></button>
      </div>
    </div>
  </div>
</section>


<!--

S  T  A  T  U  S     P  Å     P  R  O  J  E  K  T

Superheros: film 3.

Idag: API

https://superheroapi.com/api/10226090872078973

Kolla in scss som finns i Leklust

Övergripande design:
Header och sidebar: Trillo

Roliga funktioner: Natours
Knappar
För att kolla på en av hjältarna.

-->
