<section>
  <div class="hero-button-row">
    <div class="hero-button-flex-container">
      <div class="hero-button-container">
        <button mat-fab color="primary" aria-label="button1"
                mat-icon="button1"></button>

        <button mat-fab color="accent" aria-label="button1"
                mat-icon="button1"></button>

        <button mat-fab color="warn" aria-label="button1"
                mat-icon="button1"></button>
      </div>
    </div>
  </div>
</section>


<!--

Status på projekt:
Behöver kolla på Tutorial för att få info om material.module.ts.

Superheros: film 3.

Udemy, navbar: lektion 39


-->
